<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic Angular App</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body data-ng-app="angularApp">
  <header>
    <h1>List Your Fav Bands and Songs</h1>
  </header>
  <main>
    <section data-ng-controller="BandsController as bandsctrl" data-ng-init="bandsctrl.getAll()">

      <band-form
        data-button-text="Create Band"
        data-crud="create"
        data-band="bandsctrl.newBand">
      </band-form>

      <ul id="bandlist">
        <band-list-item data-ng-repeat="band in bandsctrl.bands" data-band="band">
          <band-form
            data-ng-if="band.editing"
            data-button-text="Update Band"
            data-crud="update"
            data-band="band">
            <button data-ng-click="bandsctrl.cancel(band)">Cancel</button>
          </band-form>
        </band-list-item>
      </ul>
    </section>

    <section data-ng-controller="SongsController as songsctrl" data-ng-init="songsctrl.getAll()">

      <song-form
        data-button-text="Add Song"
        data-crud="create"
        data-song="songsctrl.newSong">
      </song-form>

      <ul id="songlist">
        <song-list-item data-ng-repeat="song in songsctrl.songs" data-song="song">
          <song-form
            data-ng-if="song.editing"
            data-button-text="Update Song"
            data-crud="update"
            data-song="song">
            <button data-ng-click="songsctrl.cancel(song)">Cancel</button>
          </song-form>
        </song-list-item>
      </ul>
    </section>

    <article>
      <h3>Catherine Wheel</h3>
      <p>And love tips up for me. I bang my head against the wall.
  (laughs). I teach I read the greed, Oh this is the mouth I feed.
  Rip rip ripping my skin. I can hardly wait for you.. I've been
  sitting here for years to find.. It's supposed to be. I've been
  fed all my life. 'Cos I feel I'm at 45 degrees. Had stories read
  to hypnotise. Clip clipping my wings. Deep inside my head I've
  found. (Down down down) "A, B, C, D, you're in the belly of me".
  Flap flapping my hands

  And I'm so happy. you peel, you strip, you bleed something
  delicious. weakness and distress what am I?. you spill, you grip, you
  squeeze something delicious. I've got God inside my head. Lick
  licking my wounds. And keep it understood the elevations good. My
  fears away, my fears away.. Some signs of life a mushroom cloud. Then
  the world fell down round my ears. That's when love tips up for me.
  All I feel comes back off you. For years I was clean. Had a change in
  my state. Smack smack smacking my hands

  I can't hear the moving mind.. delicious. Don't feel sad don't
  feel blue. I must have been crazy. I was calm and complete. Bug eyed
  and awake. you eat, you sleep, you breathe something delicious. Will
  it help me. I think I was Bruce Lee. For years I avoided caffeine. so
  give me something to cover my eyes. But it was gone. I couldn't stand
  still I was running back. With love! With love! So don't be accusing
  me. If i touch you will you take,

  If i touch you will you break,. Steal myself a car, Ferrari or a
  Jaguar,. I was grinding my teeth in my habitat. I think I was being
  brave. I might have been Michael Caine</p>
    </article>

    <article>
      <h3>Muse</h3>
      <p>You can revolt. You've felt pain, you've felt love. You could be
  the one who listens. Run by machines and drones. I'm gonna break you.
  I could use someone like you. Change. So come to me now. Oppression
  is persisting. A universe is trapped inside a tear!. Your number has
  been called. Fights, battles have begun. You could be the one I'll
  always love. Your time is now. You can grow (you can grow), you can
  grow (you can grow)

  Revenge will surely come. I can't fight this brain conditioning.
  Choice to live my life extended. Replaces love and happiness with
  fear!. Scream it!. It resonates the core. How many lies will you
  create?. Love, it will get you nowhere. You mind's about to fall....
  You've got to change the world. You could be the one I'll always
  love. A fucking psycho. I'm gonna make you. (Aye, sir!). You can make
  this world what you want

  Creates unnatural laws. (Aye, sir). Best!. Your ass belongs to me
  now!. But I'm busy mending broken. Lost in the wild. Your hard times
  are ahead. I'm gonna make you. I can't hear you!. You've got
  strength, you've got soul. (Aye, sir!). You are on your own. How did
  we get in so much trouble?. to my deepest inquisitions. You've got to
  be the best

  Everything you are. And ask no questions. (Aye, sir!). Coercive
  notions re-evolve. Someone who'll kill on my command. Soon, they'll
  control what's left inside. They've got us locked into their sights.
  If you do not do what you're told to do when you're told to do it,
  you will be punished. Do you understand?. Don't tell me it's not
  there. If you leave my base without proper authorisation, I will hunt
  you down and throw your ass in jail. Do you understand?. Getting out
  just seems impossible. How much longer until you break?. And you use
  this chance to be heard. Don't try to hide it. (Aye, sir)</p>
    </article>
  </main>
  <footer>
    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
  </footer>
  <script src="bundle.js"></script>
</body>
</html>
