<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic Angular App</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body data-ng-app="angularApp">
  <header>
    <h1>List Your Fav Bands and Songs</h1>
  </header>
  <main>
    <section data-ng-controller="BandsController as bandsctrl" data-ng-init="bandsctrl.getAll()">

      <band-form
        data-button-text="Create Band"
        data-crud="create"
        data-band="bandsctrl.newBand">
      </band-form>

      <ul id="bandlist">
        <band-list-item data-ng-repeat="band in bandsctrl.bands" data-band="band">
          <band-form
            data-ng-if="band.editing"
            data-button-text="Update Band"
            data-crud="update"
            data-band="band">
            <button data-ng-click="bandsctrl.cancel(band)">Cancel</button>
          </band-form>
        </band-list-item>
      </ul>
    </section>

    <section data-ng-controller="SongsController as songsctrl" data-ng-init="songsctrl.getAll()">

      <song-form
        data-button-text="Add Song"
        data-crud="create"
        data-song="songsctrl.newSong">
      </song-form>

      <ul id="songlist">
        <song-list-item data-ng-repeat="song in songsctrl.songs" data-song="song">
          <song-form
            data-ng-if="song.editing"
            data-button-text="Update Song"
            data-crud="update"
            data-song="song">
            <button data-ng-click="songsctrl.cancel(song)">Cancel</button>
          </song-form>
        </song-list-item>
      </ul>
    </section>

  </main>
  <script src="bundle.js"></script>
</body>
</html>
