<form data-ng-submit=save(song)>
  <label for="title">Song Title</label>
  <input type="text" name="title" data-ng-model="song.title">

  <label for="bandName">Band Name</label>
  <input type="text" name="bandName" data-ng-model="song.bandName">
  <button data-ng-if="song.editing" id='createBand' type="submit">{{ buttonText }}</button>
  <ng-transclude></ng-transclude>

  <div data-ng-controller="SongsController as songCount">
    <button data-ng-if="!song.editing" data-ng-click="songCount.add()">Add Song</button>
  </div>

</form>
